.main-footer{
    background-color: #161616;
    text-align: center;
    color: aliceblue;
}
.col{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.social-icons > *:not(:last-child) {
    margin-right: 20px;
  }