.main-footer {
  background-color: #408e91;
  color: #ffffff;
  padding-top: 3rem;
  padding-bottom: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-ms {
  text-align: center;
  margin-bottom: 2rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.social-icons > *:not(:last-child){
  margin-right: 30px;
}

.col-sm {
  text-align: center;
  margin-top: 2rem;
}
