.main-footer {
  background-color: #408e91;
  text-align: center;
  color: aliceblue;
}
.col {
  padding-top: 0rem;
  padding-bottom: 2rem;
}
.social-icons > *:not(:last-child) {
  margin-right: 30px;
}

.hr {
  color: orangered;
}
