.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.card {
  width: calc(25% - 20px);
  max-width: 240px;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  transition: transform 0.3s ease;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Update justify-content to space-between */
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

.card .title {
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.card .view-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  width: 50%;
  margin: 0 auto; /* Add margin: 0 auto to center the button horizontally */
}

.card .view-button:hover {
  background-color: #4caf50;
}
