.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
}

.login-form h2 {
  margin-bottom: 1rem;
}

.login-form label {
  margin-top: 1rem;
}

.login-form input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #0077ff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.forgot-password-link {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #0077ff;
}
