.movie-details-container {
    padding-bottom: -6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .movie-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .poster-container {
    margin-right:60px;
  }
  
  .poster {
    width: 500px;
    height: 650px;
  }
  
  .info-container {
    background-color: rgb(255, 244, 79);
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .movie-title {
    font-size: 3rem;
    margin-top: 0;
  }
  
  .movie-actors {
    margin-top: 0;
  }
  
  .movie-description {
    font-size: 1.2rem;
    text-align: justify;
  }
  
  .timing-details {
    margin-top: 0px;
  }
  
  .section-title {
    font-size: 2rem;
  }
  
  .show-date,
  .show-time,
  .theater,
  .ticket-price {
    font-size: 1.2rem;
    margin-top: 0;
  }
  
  .login-btn {
    background-color: #ff5722;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #fff;
    color: #ff5722;
  }
  

  .warning {
    color: rgb(235, 20, 20);
  }