.navbar-container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0 20px;
  border-radius: 10px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo-img {
  height: 100%;
  max-height: 80px; /* Adjust the value as needed */
  max-width: 220px; /* Adjust the value as needed */
}

.navbar {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 10px;
  flex-grow: 1;
}

.nav-item {
  margin-left: 30rem;
  padding: 10px;
  color: black;
  text-decoration: none;
  background-color: white;
  border: none;
  border-radius: 4px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.nav-item:hover {
  background-color: #555;
}
/* Navbar.css */

.navbar {
  display: flex;
  align-items: center;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 14px;
}

.search-button {
  padding: 8px 16px;
  background-color: #c2e5c2;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #a1d8a1;
  cursor: pointer;
}
