.logo {
    height: 40px;
    width: auto;
    margin-right: 10px; /* Optional: add some space to the right of the logo */
  }
  
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Add this line to center the items vertically */
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Add this line to align the items to the right */
    align-items: center; /* Add this line to center the items vertically */
    flex: 1; /* Add this line to make the nav ul take up all available space */
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  nav ul li a.active {
    background-color: #fff;
    color: #333;
  }
  
  nav ul li.search form {
    display: flex;
    align-items: center;
  }
  
  nav ul li.search form .search-bar {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    color: #fff;
    padding: 5px;
  }
  
  nav ul li.search form .search-btn {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
  }
  
  nav ul li.search form .search-btn:hover {
    background-color: #ddd;
  }