.view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  display: flex;
  align-items: center;
  width: 600px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.image-container {
  flex: 1;
  padding-right: 16px;
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 4px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.separator {
  height: 1px;
  background-color: #ddd;
  margin: 8px 0;
}

.director,
.actor,
.actress {
  font-size: 16px;
  margin-bottom: 4px;
}

.description {
  font-size: 16px;
  line-height: 1.5;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0069d9;
}

.book-tickets {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.view-details:hover {
  background-color: #0069d9;
}