.view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.movie-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  max-width: 800px; /* added max-width */
}

.image-container {
  margin-right: 20px; /* reduced margin-right */
}

.movie-image {
  width: 200px; /* reduced width */
  height: auto;
  border-radius: 5px;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px; /* reduced font-size */
  font-weight: bold;
  margin-bottom: 10px;
}

.separator {
  height: 2px;
  width: 100%;
  background-color: black;
  margin: 10px 0;
}

.director {
  font-weight: bold;
}

.showing-container {
  margin-top: 50px;
}

.showing-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.showing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 50px;
}

.book-now-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.book-now-button:hover {
  background-color: #0062cc;
}
