table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  background-color: #eee;
}

td:first-child,
th:first-child {
  width: 50px;
}

td:last-child,
th:last-child {
  text-align: center;
  width: 150px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.table-seats {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.seat {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  height: 20px;
}

.seat-available {
  background-color: #4caf50;
}

.seat-occupied {
  background-color: #f44336;
}

.seat-status {
  margin-left: 10px;
}
