.booking {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movies {
  width: 240px; /* Reduce the width of the card */
  margin: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: center;
}

.moviess {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.cards-images {
  width: 100%;
  height: auto; /* Remove the fixed height to allow the image to fully fit */
  object-fit: contain; /* Use contain to fit the image without cropping */
  margin-bottom: 10px;
}

.booking-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box;
  margin-top: auto;
  text-decoration: none;
}

.booking-button:hover {
  background-color: #0056b3;
}
