.Movies {
  max-width: 600px;
  margin: 0 auto; /* Add margin: 0 auto to center the form horizontally */
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.Movies h1 {
  text-align: center;
}

.Movies form {
  display: flex;
  flex-direction: column;
}

.Movies .form-group {
  margin-bottom: 1rem;
}

.Movies label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.Movies input[type="text"],
.Movies input[type="number"],
.Movies input[type="date"],
.Movies input[type="time"],
.Movies select,
.Movies textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.Movies input[type="file"] {
  margin-top: 0.5rem;
}

.Movies button[type="submit"] {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.Movies button[type="submit"]:hover {
  background-color: #0069d9;
}
