.movies-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.movies-table th,
.movies-table td {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.movies-table td img {
  max-height: 5rem;
  width: auto;
}

.description {
  white-space: pre-wrap;
  max-width: 400px;
}
